body { background: #c01f18; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 35px; display: flex; }
.block-token-0 { color: #a85594; font-size: 13px; margin-bottom: 5px; }
.block-session-1 { color: #8e2313; font-size: 21px; margin-bottom: 5px; }
.block-logger-2 { color: #2d0037; font-size: 21px; margin-bottom: 5px; }
.block-sms-3 { color: #dc9a; font-size: 12px; margin-bottom: 5px; }
.block-user-4 { color: #339f7c; font-size: 13px; margin-bottom: 5px; }